<!DOCTYPE html>
<html>
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, intial-scale=1, shrink-to-fit=no" />
        <style>
            td,
            th {
                border: 1 px solid #dddddd;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static, filename = 'css/bootstrap.min.css)}}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{url_for('static, filename = 'css/main.css)}}"
        />
        <title>Unknown User</title>
    </head>

    <!-- Navigation Bar -->

    <main role="main" class="container">
        <body>
            <div class="wrapper login">
                <div class="card login">
                    <h3>The Good Boilerplate Tool</h3>
                    <p>
                        Error: Not part of the tool</a>
                    </p>
                </div>
            </div>
        </body>
    </main>
</html>