<!DOCTYPE html>
<html>
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, intial-scale=1, shrink-to-fit=no" 
        />

        <style>
            td,
            th {
                border: 1 px solid #dddddd;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <title>Login</title>
    </head>

    <!-- Navigation Bar -->

    <main role="main" class="container">
        <body>
            <div class="wrapper login">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <div class="content-section">
                            <div class="card login">
                                <h3>The Good Boilerplate Tool</h3>
                                <a href="/login" class="btn btn-primary"> Log In</a>
                            </div>
                        </div>
                        Request Access: </a>
                    </div>
                </div>
            </div>
        </body>
    </main>
</html>